* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.5em;
    background-color: cornsilk;
}

div {
    width: 200px;
    height: 200px;
    background-color: grey;
    color: white;
    margin: 5px;
    opacity: 0;
}

.animation {
    animation: move 5s 2;
    animation-fill-mode: forwards;
}

@keyframes move {
    0% {
        opacity: 0.1;
    }
    25% {
        transform: translateX(200px);
        opacity: 0.25;
    }
    50% {
        transform: translateX(-100px);
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        transform: translateX(0px); 
        opacity: 1;
    }
}