* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: "Open sans", sans-serif;
    line-height: 1.5em;
}

.nav {
    height: 5em;
    background-color: #222;
    padding: 0.5em 0;
    position: sticky;
    top: 0;
    z-index: 1;
    /* border-bottom: 2px solid whitesmoke; */
    box-shadow: 0px 2px 15px gray;
}

.nav-title {
    font-size: 2rem;
    text-transform: uppercase;
    color: wheat;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-center {
    /* text-align: center; */
    width: 90vw;
    max-width: 1200px;
    height: 4em;
    margin: 0 auto;
    padding: 1em 0;
}

.hero {
    background-color: rgb(59, 42, 26);
    min-height: calc(150vh);
    position: relative;
}

@media screen and (min-width: 768px) {
    .hero {
        background: linear-gradient(to right, rgba(39, 28, 20, 1), rgba(39, 28, 20, 0.6)), url(../assets/coffee.jpg) top/cover;
    }
}

.hero-center {
    margin: 0 auto;
    width: 90vw;
    max-width: 1200px;
    padding: 1em 0;
    color: wheat;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.hero-center h1 {
    letter-spacing: 2px;
    text-transform: capitalize;
    font-style: italic;
    margin-bottom: 0.5em;
}

.hero-center p {
    max-width: 600px;
    margin: 2em auto;
}

.hero-text {
    opacity: 0;
    animation: text 2s ease-out 1s 1 forwards;
}

.hero-btn {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    text-transform: uppercase;
    font-family: Iosevka;
    color: wheat;
    padding: 0.7em 1.3em;
    letter-spacing: 3px;
    opacity: 0;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: button 2s ease-out 1s 1 forwards;
}

.hero-btn:hover {
    background-color: rgba(80, 80, 80, 0.7);
}

.hero-btn:active {
    background-color: black;
}


@keyframes text {
    0% {
        transform: translateY(-300px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes button {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}